:root {
  --la-papaya: #ffe217;
  --grizzly: #ff8615;
  --street-party: #53d1ec;
  --skate-zone: #dbeac2;
  --lunapark: #4668bc;
  --lovefruits: #ffd67d;
  --superfruits: #fef45f;
  --street-art: #f8b3c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*background: var(--la-papaya);*/
  transition: 0.5s;
}

.content {

}

.primary-content {
  height: calc(100vh - 250px);
  display: flex;
  justify-content: space-between;
}

.thumb {
  list-style: none;
  display: flex;
  width: calc(100vw - 100px);
  justify-content: center;
  position: absolute;
  bottom: 40px;
}

.thumb  li img:hover {
  transform: translateY(-15px);
}

.thumb  li  img {
  height: 150px;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}


