:root {
  --la-papaya: #ffe217;
  --grizzly: #ff8615;
  --street-party: #53d1ec;
  --skate-zone: #dbeac2;
  --lunapark: #4668bc;
  --lovefruits: #ffd67d;
  --superfruits: #fef45f;
  --street-art: #f8b3c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  background: var(--la-papaya);
}


